*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Cardo";
    src: url(font/cardo/Cardo-Regular.ttf);
}

body{
    background-color: black;
}
nav{
    background-color: black !important;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar-nav .nav-item i:hover{
    color: white !important;
}

h2{
    margin: 0 0 10px 0;
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    font-family: "Cardo";
}
h2 span{
    position: relative;
}
h2 span::before{
    content: "";
    background-color: #198754;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.cards img{
    transition: 0.5s;
    
}
.cards{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.overlay{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.331) ;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    
}
.overlay:hover{
    opacity: 1;
}
.cards:hover img{
    transform: scale(1.05);
}
.i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#link{
    font-size: 30px;
}
#expand{
    font-size: 20px;
}
.location{
    font-size: 22px;
    height: 40px;
    width: 40px;
    margin-right: 8px;
    background-color: #222425;
}
.minicontainer:hover .location{
    background-color: #27a776;
    transition: 0.5s;
}
.minicontainer:hover i{
    transition: 0.5s;
    color: white !important;
}
.btn{
    padding: 15px 40px;
}
.form-control{
    margin-top: 10px;
    background-color: #222425;
    border: none;
}
.footer{
    border-top: 1px solid;
    padding-top: 30px;
}
.contact, .about{
    margin-top: 100px;
}
ul{
    list-style: none;
}
.testimonials h4{
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.card{
    padding: 20px;
    background-color: #222425;
    text-align: center;
    color: white;
}
.card i{
    color: orange;
}
.test{
    transform: scale(90%);
    opacity: 60%;
}
.testimonials h4::after {
    margin-left: 5px;
    content: "";
    display: inline-block;
    width: 10%;
    height: 2px;
    background-color:#27a776;
    vertical-align: middle;
}

.container4 .card{
    text-align: start;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.container4 .card::after{
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    right: 0;
    left: 0;
    background-color: #27a776;
    position: absolute;
    z-index: -1;
    transition: .5s;
}
.container4 .card:hover::after{
    top: 0;
}
.container4 .card:hover .iconservices{
    background-color: white;
}
.container4 .card:hover .iconservices i{
    color: #27a776 !important;
}
.iconservices{
    width: 50px;
    height: 50px;
    background-color: #27a776;
}